<div class="container-fluid">
	<div class="row text-center info">
		<h1 class="col-xs-12 col-sm-12 col-md-8 col-lg-10 col-md-offset-2 col-lg-offset-1"> 
			Quem pode participar? 
		</h1>

		<div class="participant col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="main-content">
				<div ng-include="'img/developer.svg?asd'" class="img-responsive"></div>
				<span class="title-participant"> Desenvolvedores </span>
				<div class="info-participant">
					<p class="center-object">
						O <b> Desenvolvedor </b> é qualquer pessoa com competência técnica ou de aprendizado para desenvolver uma aplicação dentro dos requisitos elencados pelo grupo
					</p>
				</div>
			</div>
		</div>

		<div class="participant col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="main-content">
				<div ng-include="'img/designer.svg?asd'" class="img-responsive"></div>
				<span class="title-participant"> Designers </span>
				<div class="info-participant">
					<p class="center-object">
						O <b> Designer</b> é qualquer pessoa com competência técnica ou de aprendizado para elaborar um design e aprimorar a usabilidade da aplicação desenvolvida.

				</div>
			</div>
		</div>

		<div class="participant col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="main-content">
				<div ng-include="'img/business.svg?asd'" class="img-responsive"></div>
				<span class="title-participant"> Negócios </span>
				<div class="info-participant">
					<p class="center-object">
						<b> Negócios </b> é qualquer pessoa que deseje trabalhar para ajudar o grupo, entrando em contato com possíveis testadores (comprovar a utilização melhora a nota de apresentação), elaborando a apresentação e organizando as atividades dos demais participantes.
					</p>
				</div>
			</div>
		</div>
	</div>