<div class="container-fluid">

	<div class="row animated fadeInLeftBig wow">
		<h1 class="col-xs-12 text-center">Patrocinadores Ouro</h1>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wow text-center">
			<a target="_blank" href="http://www.consisanet.com/">
				<img src="img/sponsor-consisa.png" class="realizator text-center gold-sponsor"/>
			</a>
		</div>

	</div>

	<div class="row animated fadeInLeftBig wow">
		<h1 class="col-xs-12 text-center">Patrocinadores Prata</h1>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-1 col-md-offset-1 wow text-right">
			<a target="_blank" href="http://www.sischef.com">
				<img src="img/sponsor-sischef.png" class="realizator text-center silver-sponsor"/>
			</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-1 col-md-offset-1 wow text-left">
			<a target="_blank" href="https://www.facebook.com/Inventto-Coworking-100538040118577">
				<img src="img/sponsor-invent.to.png" class="realizator text-center silver-sponsor"/>
			</a>
		</div>
	</div>

		<div class="row animated fadeInLeftBig wow">
		<h1 class="col-xs-12 text-center">Patrocinadores Bronze</h1>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wow text-center">
			<a target="_blank" href="http://www.ampernet.com.br/">
				<img src="img/sponsor-ampernet.png" class="realizator text-center"/>
			</a>
		</div>
	</div>

	<div class="row animated fadeInLeftBig wow">
		<h1 class="col-xs-12 text-center">Apoio</h1>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wow text-center">
			<a target="_blank" href="http://www.patolivre.tk">
				<img src="img/sponsor-patolivre.png" class="realizator text-center support-sponsor"/>
			</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wow text-center">
			<a target="_blank" href="http://valedigital.org.br/">
				<img src="img/sponsor-valedigital.png" class="realizator text-center support-sponsor"/>
			</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wow text-center">
			<a target="_blank" href="https://software.intel.com/pt-br">
				<img src="img/sponsor-intel-white.png" class="realizator text-center support-sponsor"/>
			</a>
		</div>
	</div>

	<div class="row animated fadeInRightBig wow">
		<h1 class="col-xs-12 text-center">Realização</h1>

		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
			<a target="_blank" href="http://www.sebraepr.com.br/">
				<img src="img/sponsor-sebrae.png" class="realizator text-center"/>
			</a>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
			<a target="_blank" href="https://www.facebook.com/sudovalley/">
				<img src="img/sponsor-sudovalley.png" class="realizator text-center"/>
			</a>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
			<a target="_blank" href="http://www.citfbe.com.br/">
				<img src="img/sponsor-citfbe.png" class="realizator text-center"/>
			</a>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
			<a target="_blank" href="http://www.unisep.edu.br/">
				<img src="img/sponsor-unisep.png" class="realizator text-center"/>
			</a>
		</div>
	</div>
</div>