@font-face {
  font-family: 'Ailerons';
  src: url('../fonts/Ailerons-Typeface.otf');
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoMono-Regular.ttf');
}
.normal-division {
  width: 100%;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
}
.main-division {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
}
.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.center-object {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
h1 {
  color: #F9C71C;
  font-family: 'Roboto';
  font-size: 3vw;
}
a {
  text-decoration: none !important;
}
body {
  overflow-x: hidden;
  margin-top: 50px;
}
.upside-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: #9B59B6;
  z-index: 9999;
}
.upside-bar .home-icon {
  margin: 5px;
}
.upside-bar .home-icon svg {
  width: 50px;
  height: 40px;
  max-height: 40px;
}
.upside-bar ul.menu {
  list-style: none;
  padding: 5px;
  margin: 0;
  font-family: 'Ailerons';
}
.upside-bar ul.menu li {
  float: left;
  padding: 0 10px;
}
.upside-bar ul.menu li a {
  font-size: 20px;
  color: #FFFFFF;
}
.upside-bar ul.menu li a:hover {
  text-decoration: none;
}
#main {
  background: url('../img/bg-sponsor.png') #9B59B6 repeat;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
}
#main .logo-container {
  width: 50vmin;
  height: 50vmin;
}
#main .logo-container svg {
  width: 100%;
  height: 100%;
}
#sponsors {
  background-color: #9B59B6;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
}
#sponsors img {
  transition: all ease 0.5s;
}
#sponsors img:hover {
  transform: scale(1.1, 1.1);
}
#what-is {
  background-color: #9B59B6;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
}
#what-is .info {
  margin-top: 10vw;
}
#what-is p {
  font-family: 'Roboto';
  color: #FFFFFF;
  font-size: 1.5vmax;
  margin-top: 20px;
}
#participants {
  background-color: #9B59B6;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
}
#participants .participant {
  padding: 20px;
}
#participants .participant .main-content {
  background-color: #D794DB;
  border-radius: 10px;
  border-top: 10px solid #F9C71C;
  position: relative;
}
#participants .participant .main-content .title-participant {
  color: #F9C71C;
  font-family: 'Ailerons';
  font-size: 2vmax;
  font-weight: bold;
}
#participants .participant .main-content .info-participant {
  position: absolute;
  width: 100%;
  height: 0;
  transition: all ease 0.2s;
  top: 0;
  background-color: #F9C71C;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
#participants .participant .main-content .info-participant p {
  color: #9B59B6;
  font-family: 'Roboto';
}
#participants .participant .main-content svg {
  width: 50%;
  height: 50%;
}
#participants .participant:hover .info-participant {
  height: 90%;
}
#info {
  background-color: #9B59B6;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
}
#info #map {
  height: 100%;
}
#info .info-hackarejo {
  font-family: 'Roboto';
}
#info .info-hackarejo p {
  color: #FFFFFF;
}
#info .info-hackarejo .route {
  margin: 10px;
}
#info .info-hackarejo .route svg {
  width: 30%;
  height: 30%;
}
#info .info-hackarejo .route svg .route-path {
  transition: all ease 0.5s;
}
#info .info-hackarejo .route svg:hover .route-path {
  fill: #F9C71C;
  box-shadow: 0px 0px 10px #D794DB;
}
#register {
  background-color: #D794DB;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
}
#register .options {
  width: 100%;
  height: auto;
}
#register .options a.option-button div {
  height: 50px;
  margin: 5px 0;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  font-family: 'Ailerons';
  font-size: 30px;
  transition: all ease 0.2s;
}
#register .options a.option-button div:hover {
  transform: scale(1.1, 1.1);
}
#register .options .register-button div {
  background-color: #F9C71C;
  color: #FFFFFF;
}
#register .options .rules-button div {
  background-color: #FFFFFF;
  color: #9B59B6;
}
