<ul class="menu">
	<li class="animated wow fadeInUp"><h4><a href="#" scroll-to="what-is">HACKAREJO</a></h4></li>
	<li class="animated wow fadeInUp"><h4><a href="#" scroll-to="sponsors">REALIZAÇÃO</a></h4></li>
	<li class="animated wow fadeInUp"><h4><a href="#" scroll-to="participants">PARTICIPANTES</a></h4></li>
	<li class="animated wow fadeInUp"><h4><a href="#" scroll-to="info">INFORMAÇÕES</a></h4></li>
	<li class="animated wow fadeInUp"><h4><a href="#" scroll-to="register">INSCRIÇÕES</a></h4></li>
<!-- 	<li><h4><a href="#" scroll-to="">INSVREVER-SE</a></h4></li>
	<li><h4><a href="#" scroll-to="">REGULAMENTO</a></h4></li> -->
</ul>

<div ng-include="'img/logo-hackarejo.svg?asd'" class="img-responsive logo-container center-object"></div>