<div class="center-object text-center options">
	<div class="container-fluid">
		
		<div class="animated fadeInLeftBig wow show col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
			<a target="_blank" href="https://www.goo.gl/pgiw8x" class="option-button register-button">
				<div>Inscreva-se Agora</div>
			</a>
		</div>
		<div class="animated fadeInRightBig wow show col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
			<a target="_blank" href="https://www.goo.gl/TXfo7C" class="option-button rules-button">
				<div>REGULAMENTO</div>
			</a>
		</div>
		
	</div>
</div>