<div class="container-fluid">

	<div class="row animated fadeInLeftBig wow">
		<h1 class="col-xs-12 text-center">Patrocinadores Ouro</h1>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wow text-center">
			<a target="_blank" href="http://www.consisanet.com/">
				<div class="sponsor gold-sponsor">
					<img src="img/sponsor-consisa.png" class="text-center gold-sponsor"/>
				</div>
			</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wow text-center">
			<a target="_blank" href="http://www.megasult.com.br">
				<div class="sponsor gold-sponsor">
					<img src="img/sponsor-megasult.png" class="text-center gold-sponsor"/>
				</div>
			</a>
		</div>

	</div>

	<div class="row animated fadeInLeftBig wow">
		<h1 class="col-xs-12 text-center">Patrocinadores Prata</h1>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-1 col-md-offset-1 wow text-right">
			<a target="_blank" href="http://www.sischef.com">
				<div class="sponsor silver-sponsor">
					<img src="img/sponsor-sischef.png" class="text-center silver-sponsor"/>
				</div>
			</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-1 col-md-offset-1 wow text-left">
			<a target="_blank" href="https://www.facebook.com/Inventto-Coworking-100538040118577">
				<div class="sponsor silver-sponsor">
					<img src="img/sponsor-invent.to.png" class="text-center"/>
				</div>
			</a>
		</div>
	</div>

	<div class="row animated fadeInLeftBig wow">
		<h1 class="col-xs-12 text-center">Patrocinadores Bronze</h1>

		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 wow text-center">
			<a target="_blank" href="http://www.ampernet.com.br/">
				<div class="sponsor bronze-sponsor">
					<img src="img/sponsor-ampernet.png" class="text-center"/>
				</div>
			</a>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 wow text-center">
			<!-- <a target="_blank" href="#"> -->
			<div class="sponsor bronze-sponsor">
				<img src="img/sponsor-tecxel.png" class="text-center"/>
			</div>
			<!-- </a> -->
		</div>

		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 wow text-center">
			<!-- <a target="_blank" href="#"> -->
			<div class="sponsor bronze-sponsor">
				<img src="img/sponsor-semdetec.png" class="text-center"/>
			</div>
			<!-- </a> -->
		</div>

		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 wow text-center">
			<!-- <a target="_blank" href=""> -->
			<div class="sponsor bronze-sponsor">
				<img src="img/sponsor-findex.png" class="text-center"/>
			</div>
			<!-- </a> -->
		</div>

	</div>

	<div class="row animated fadeInLeftBig wow">
		<h1 class="col-xs-12 text-center">Apoio</h1>

		<div class="row"> 
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wow text-center">
				<a target="_blank" href="http://idetep.wordpress.com/">
					<div class="sponsor special-support-sponsor">
						<img src="img/sponsor-idetep.png" class="text-center"/>
					</div>
				</a>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wow text-center">
				<a target="_blank" href="http://valedigital.org.br/">
					<div class="sponsor special-support-sponsor">
						<img src="img/sponsor-valedigital.png" class="text-center"/>
					</div>
				</a>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wow text-center">
				<a target="_blank" href="http://www.patolivre.tk">
					<div class="sponsor support-sponsor">
						<img src="img/sponsor-patolivre.png" class="text-center"/>
					</div>
				</a>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wow text-center">
				<a target="_blank" href="https://software.intel.com/pt-br">
					<div class="sponsor support-sponsor">
						<img src="img/sponsor-intel.png" class="text-center"/>
					</div>
				</a>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wow text-center">
				<a target="_blank" href="https://developers.google.com/groups/chapter/102178819169878551962/">
					<div class="sponsor support-sponsor">
						<img src="img/sponsor-gdg.png" class="text-center"/>
					</div>
				</a>
			</div>
		</div>

	</div>

	<div class="row animated fadeInRightBig wow">
		<h1 class="col-xs-12 text-center">Realização</h1>

		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
			<a target="_blank" href="http://www.sebraepr.com.br/">
				<div class="sponsor team-sponsor">
					<img src="img/sponsor-sebrae.png" class="text-center"/>
				</a>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
			<a target="_blank" href="https://www.facebook.com/sudovalley/">
				<div class="sponsor team-sponsor">
					<img src="img/sponsor-sudovalley.png" class="text-center"/>
				</a>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
			<a target="_blank" href="http://www.citfbe.com.br/">
				<div class="sponsor team-sponsor">
					<img src="img/sponsor-citfbe.png" class="text-center"/>
				</a>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
			<a target="_blank" href="http://www.unisep.edu.br/">
				<div class="sponsor team-sponsor">
					<img src="img/sponsor-unisep.png" class="text-center"/>
				</a>
			</div>
		</div>
	</div>
</div>