<div class="container-fluid">
	<div class="row text-center info">
		<h1 class="col-xs-12 col-sm-12 col-md-8 col-lg-10 col-md-offset-2 col-lg-offset-1"> O que é o HACKAREJO? </h1>
		<p class="col-xs-12 col-sm-12 col-md-8 col-lg-10 col-md-offset-2 col-lg-offset-1">
			O HACKAREJO é uma maratona de programação focada apenas no VAREJO!
		</p>

		<p class="col-xs-12 col-sm-12 col-md-8 col-lg-10 col-md-offset-2 col-lg-offset-1">
			Inicialmente, todos os participantes irão reunir-se com varejistas locais para entender seus problemas e na sequência, um hackathon de 24 horas dará início a 10 projetos incrivelmente criativos e inovadores.
		</p>
	</div>
</div>