.normal-division {
	width: 100%;
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
}

.main-division {
	min-height: 100%;
	.normal-division();
}

.center-horizontal {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.center-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.center-object {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

h1 {
	color: #F9C71C;
  font-family: 'Roboto Slab';
  font-size: 3vw;
}

a {
	text-decoration: none !important;
}

body {
	overflow-x: hidden;
}